@model dep2E.Models.Departamento

@{
    ViewBag.Title = "Departamentos";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de eliminar este registro?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_Departamento)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-default" />
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
